<h3>Search Result</h3>  

    <% @results.each do |result| %>  
     <%= link_to(:controller => 'books':action => 'show' , :id => result.id) do %> 
        <div class="book_item">
          <h4 class="book_title"><%= result.bname %></h4>
        </div>
      <% end %>
        
    <% end %>