
<h1>Book details</h1>
<%= will_paginate @books %>
<div class ="book_details">
 <% Book.find_each do |c| %>

 <div class="book_item">
          <h4 class="book_title"><%= c.bname %></h4>
  </div>
 <% end %>
 
    <%# <% if contributor? c %>

      <%= link_to(:action => 'show' , :id => c.id) do %> 
        
      <% end %>
    %>
  


</div>
<p class="button"><%= link_to "Add new Book", {:action => 'new' }%></p>

