<h1>Book</h1>
<p class ="book_name"><%= @book.bname %></p>
<p class="book_desc"><%= @book.desc %></p>
<% if @book.qty == 0 %>
    <p class="button">No Stock</p>
<% else %>
    <% if contributor? @book %>
        <% render plain: if contributor? %>
        <p class="button">Book contributed by You </p>
    <%else%>
        <p class="button"><%= link_to "Borrow Book",{:action => 'borrow' , :id => @book.id} %></p>
    <% end %>
<% end %>    