<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %>,</h1>
    <br/>
    <p>
    Your book <%= @booksBorrow.bname %> borrowed on <%= @booksBorrow.sdate %> need to be returned by tomorrow <%= @booksBorrow.edate %>
    <br/>
    <br/>
    ThankYou.
    </p>
  </body>
</html>