<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <br/>
    <p>
    You have successfully borrowed a book @book.bname on @book.sdate
    And you have to return the book by @book.edate
    ThankYou.
    </p>
  </body>
</html>